[submodule "src/modules/typo3"]
	path = src/modules/typo3
	url = https://github.com/move-elevator/puppet-typo3
[submodule "src/puppetlabs/puppet"]
	path = src/puppetlabs/puppet
	url = https://github.com/puppetlabs/puppet.git
